In [1]:
# 2.3.8 For Loops

In [16]:
import numpy as np
import pandas as pd

In [3]:
total = 0
for value in [3,2,19]:
    total += value
print(f"Total is: {total}")

Total is: 24

In [4]:
# nested for loop

total = 0
for value in [2,3,19]:
    for weight in [3,2,1]:
        total += value*weight
print(f"Weighted total is: {total}")

Weighted total is: 144

In [9]:
# zip() function
# Pair elements from two or more iterables element-wise

a = ['Alex', 'Sam', 'Sarah']
b = [100, 89, 93]
c = ['Math', 'History', 'Science']
zipped = zip(a,b,c)
print(list(zipped))

[('Alex', 100, 'Math'), ('Sam', 89, 'History'), ('Sarah', 93, 'Science')]

In [12]:
# unzip it

zipped = list(zip(a,b,c))
name, score, subject = zip(*zipped)
print(name)
print(score)
print(subject)

('Alex', 'Sam', 'Sarah')
(100, 89, 93)
('Math', 'History', 'Science')

In [13]:
# for loop with zip()

total = 0
possible_values = [2, 3, 19]
probabilities = [0.2, 0.3, 0.5]
for value, weight in zip(possible_values, probabilities):
    total += value * weight
print(f"Weighted average is: {total}")

Weighted average is: 10.8

In [20]:
# String Formatting
# Create an example data frame with columns in which 20% of the entries are missing

rng = np.random.default_rng(1)
A = rng.standard_normal((127, 5))

# Randomly select elements from an array: [0, np.nan]
# Probabilities for selecting each element are 0.8 & 0.2 respectively
M = rng.choice([0, np.nan], p=[0.8, 0.2], size=A.shape)

# Arithmetic operations with np.nan returns np.nan
A += M

D = pd.DataFrame(A, columns=['food', 'bar', 'pickle', 'snack', 'popcorn'])
D[:3]

       food       bar    pickle     snack   popcorn
0  0.345584  0.821618  0.330437 -1.303157       NaN
1       NaN -0.536953  0.581118  0.364572  0.294132
2       NaN  0.546713       NaN -0.162910 -0.482119

In [28]:
for col in D.columns:
    missing_ratio = np.isnan(D[col]).mean()
    template = f"Column \"{col}\" has {missing_ratio:.2%} missing values"
    print(template)

Column "food" has 16.54% missing values
Column "bar" has 25.98% missing values
Column "pickle" has 29.13% missing values
Column "snack" has 21.26% missing values
Column "popcorn" has 22.83% missing values